<div class="auth">
    
    <h1>SignIn Form</h1>
    {{#if loginError}}
    <p class="alert">{{loginError}}</p>
    {{/if}}
    <form action="/auth/login" method="POST">
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input name="email" class="input" type="email" placeholder="Введите email" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input name="password" class="input" type="password" placeholder="Введите пароль" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <p><a href="/auth/reset">Забыли пароль?</a></p>
        <button class="button is-success" type="submit">Войти</button>
        
    </form>
</div>