<div class="auth">
    <h1>Задать новый пароль</h1>
    {{#if resetError}}
    <p class="alert">{{resetError}}</p>
    {{/if}}
    <form action="/auth/password" method="POST">
        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input name="password" class="input" type="password" placeholder="Новый пароль" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" name="userId" value='{{userId}}'> 
        <input type="hidden" name="token" value='{{token}}'> 

        <button class="button is-success" type="submit">Обновить пароль</button>
    </form>
</div>