<div class="auth">
    <h1>SignUp Form</h1>

    {{#if registerError}}
    <p class="alert">{{registerError}}</p>
    {{/if}}

    <form action="/auth/register" method="POST" novalidate>
        <div class="field">
            <label class="label">Имя пользователя</label>
            <div class="control has-icons-left">
                <input name="name" class="input" type="text" placeholder="Введите имя пользователя" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input name="email" class="input" type="email" placeholder="Введите email" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Пароль</label>
            <p class="control has-icons-left">
                <input name="password" class="input" type="password" placeholder="Введите пароль" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <label class="label">Повторите пароль</label>
            <p class="control has-icons-left">
                <input name="confirm" class="input" type="password" placeholder="Повторите пароль" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button is-success" type="submit">Зарегистрироваться</button>
    </form>
</div>