.nav-wrapper {
    padding: 0 2rem; 
}

.price {
    font-size: 2rem;
}

.course {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 4rem;
}

.card-action.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.striped{
    margin-top: 1rem;
}
.auth{
    margin-top: 40px;
}

