.nav-wrapper {
    padding: 0 2rem;
}
.active{
    opacity: 0.7;
}
.price {
    font-size: 2rem;
}
.course {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 4rem;
}

.card-action.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.striped {
    margin-top: 1rem;
}
.auth {
    margin-top: 40px;
}

.alert {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, 0.3);
    color: red;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.auth {
    width: 20em;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.edit {
    width: 30em;
    margin-top: 3rem;
}

.btn-centered {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

nav a{
    font-weight: bold;
    font-size: larger;
}
.navbar-menu{
    box-sizing: initial;
}

h1{
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.card-footer .card-footer-item{
    height: auto;
    border-radius: 0;
}

/* Убрать для другого дизайна */
.column{
    display: inline-block;
}

.column .card{
    width: 400px;
    border-radius: 100px 100px 0px 0px;
}
.column .card img {
    border-radius: 100px 100px 0px 0px;
}
.column .card-footer{
    border-radius: 100px 100px 0px 0px;
}
.column .card-footer button{
    height: auto;
    border-radius: 0;
}
.column .card-footer form{
    display: contents;
}

.isLeft{
    text-align: left;
}
.mt-3{
    margin-top: 3rem;
}
.edit-form{
    display: contents;
}
/* cart */
.table-container table{
    margin: auto;
    width: 100%;
}

.row {
    display: inline-block;
    margin-left: 10px;
}
